@model string

@{
    var cssClass = string.Empty;
    if (!string.IsNullOrEmpty(Model))
     {
         if (Model.Equals("Long"))
         {
             cssClass = "badge-success";
         }
         else if (Model.Equals("Short"))
         {
             cssClass = "badge-danger";
         }
     }
}

@if (!string.IsNullOrEmpty(Model))
{
    <span class="badge badge-pill @cssClass">@Model</span>
}
