@using StockTradingAnalysis.Web.Common.Formatting
@model decimal?
         

<span class="text-@Model.Value.StyleTypeForPercentage().CssClass()"><strong>@string.Format("{0} %", Model.Value)</strong></span>