@using StockTradingAnalysis.Web.Common.Formatting
@model decimal?

<span class="text-@Model.Value.StyleTypeForCurrency().CssClass()"><strong>@Model.Value.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("de-de"))</strong></span>