@using StockTradingAnalysis.Web.Common.Formatting
@model decimal?
         
@if (Model.HasValue)
{
    <span class="text-@Model.Value.StyleTypeForEfficiency().CssClass()">@string.Format("{0} %", Model.Value)</span>
}
else
{
   <span>-</span>
}

