@using StockTradingAnalysis.Web.Common.Formatting
@model StockTradingAnalysis.Web.Models.ProfitViewModel
         
<span class="text-@Model.AbsoluteProfit.StyleTypeForCurrency().CssClass()"><strong>@Html.DisplayFor(modelItem => modelItem.AbsoluteProfit) (@Html.DisplayFor(modelItem => modelItem.PercentageProfit))</strong></span>