@using StockTradingAnalysis.Web.Common.Formatting
@model StockTradingAnalysis.Web.Models.ProfitViewModel

@if (Model.AbsoluteProfit == 0 && Model.PercentageProfit == 0)
{
    <span><strong>-</strong></span>
}
else
{
    <span class="text-@Model.AbsoluteProfit.StyleTypeForCurrency().CssClass()">
        <strong>@Html.DisplayFor(modelItem => modelItem.AbsoluteProfit) (@Html.DisplayFor(modelItem => modelItem.PercentageProfit))</strong>
    </span>
}