@model StockTradingAnalysis.Web.Models.QuoteViewModel


@if (Model != null)
{
    <span><strong>@Html.DisplayFor(modelItem => modelItem.Close) (@Html.DisplayFor(modelItem => modelItem.Date))</strong></span>
}
else
{
    <span>-</span>
}