@model StockTradingAnalysis.Web.Models.ImageViewModel

<div class="form-group">
    @if (Model != null)
    {
        if (string.IsNullOrEmpty(Model.Description))
        {
                @Resources.ViewTextTransactionsImage
        }
        else
        {
                @Model.Description
        }
        <br />
        <img src="@string.Format("../GetImage/{0}", Model.Id)" style="width: 100%" />
    }
</div>