body {
    padding-top: 55px;
}


/* Performance indicators
----------------------------------------------------------*/

.standardPerf {
    font-weight: bold;
}

.redPerf {
    color: #f15755;
    font-weight: bold;
}

.greenPerf {
    color: #5bb75b;
    font-weight: bold;
}

.orangePerf {
    color: Orange;
    font-weight: bold
}

.bluePerf {
    color: #0080FF;
    font-weight: bold
}

/* JQuery UI stypes to look like bootstrap
----------------------------------------------------------*/
.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

    .ui-autocomplete > li {
        padding: 3px 20px;
    }

        .ui-autocomplete > li.ui-state-focus {
            background-color: #DDD;
        }

.ui-helper-hidden-accessible {
    display: none;
}

/* Additional styles for small tables
----------------------------------------------------------*/
.row.no-gutters {
    font-weight: lighter;
    font-size: 13px;
}

    .row.no-gutters td span {
        font-weight: lighter;
    }

    .row.no-gutters td {
        padding: 0;
    }


/* Tables
----------------------------------------------------------*/
.clickableRow {
    cursor: pointer;
}

table tr.table-active td span,
table tr.table-info td span,
table tr.table-warning td span,
table tr.table-success td span,
table tr.table-danger td span {
    opacity: 0.7;
    color: #FFFFFF;
}