@using StockTradingAnalysis.Web
@{
    ViewBag.Title = Resources.ViewTextAdministrationGenerateTestData;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
    {
    <script src="~/bundles/jsx/react.js"></script>
}

<div class="jumbotron">
    <h1 class="display-3">Testdaten Generierung!</h1>
    <p class="lead">@Resources.ViewTextAdministrationGenerateTestDataInfo</p>
    <hr class="my-4">
    <p class="text-danger">@Resources.ViewTextAdministrationGenerateTestDataLost</p>
    <div id="button-generate-test-data"></div>
</div>