@using StockTradingAnalysis.Web
@{
    ViewBag.Title = Resources.ViewTextAdministrationGenerateTestData;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
    {
    <script src="~/jsx/Popup.jsx"></script>
    <script src="~/jsx/UpdateQuotationsButton.jsx"></script>
    <script src="~/jsx/GenerateTestDataButtonProgressBar.jsx"></script>
}

<div class="jumbotron">
    <h1 class="display-3">@Resources.DisplayGenerateTestData</h1>
    <p class="lead">@Resources.ViewTextAdministrationGenerateTestDataInfo</p>
    <hr class="my-4">
    <p class="text-danger">@Resources.ViewTextAdministrationGenerateTestDataLost</p>
    <div id="button-generate-test-data"></div>
</div>